{% load static %}

<section class="shopping">
    <div class="container">
        <div class="row shopping-baslik">
            <h1>Alışveriş</h1>
        </div>
    </div>
    <div class="container shopping-menu">
        <div class="row justify-content-center">
            <div class="col-12">
                <nav class="row shopping-navbar mt-2">
                    <div class="col-lg-8 shopping-menu-dropdowns">
                        {% for i in kategori %}
                        <div class="shopping-menu-dropdown">
                            <a href="{% url 'kategori' i.slug %}" class="dropdown-button text-center">
                                <span>{{i.isim|upper}}</span>
                                <i class="bi bi-chevron-down"></i>
                            </a>
                            <div class="shopping-menu-dropdown-hover">
                                <ul class="shopping-menu-dropdown-list">
                                    <li class="shopping-menu-dropdown-link">
                                        <a href="#">{{i.urun1|title}}</a>
                                    </li>
                                    <li class="shopping-menu-dropdown-link">
                                        <a href="#">{{i.urun2|title}}</a>
                                    </li>
                                    <li class="shopping-menu-dropdown-link">
                                        <a href="#">{{i.urun3|title}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4">
                        <div class="shopping-navbar-search">
                            <div class="shopping-navbar-searchOpen">
                                <form action="{% url 'urunler' %}" role="search">
                                    <div class="input-group shopping-input mb-3">
                                        <button class="shopping-inputButton" type="submit">
                                            <span class="input-group-text shopping-input-text">
                                                <i class="bi bi-search"></i>
                                            </span>
                                        </button>
                                        <input type="search" class="form-control" aria-label="Search" name="search" placeholder="Ürün Ara">
                                        <span class="input-group-text shopping-search-exit">
                                            <i class="bi bi-x"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="shopping-navbar-searchNow">
                                <span class="shopping-searchNow-icon">
                                    <i class="bi bi-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>