{% extends "index.html" %}
{% load static %}

    {% block content %}
    <!-- ABOUT -->
    <section class="about">
        <div class="container">
            <div class="row about-baslik">
                <h1>About Me</h1>
            </div>
        </div>
        <div class="container about-section">
            <div class="row about-row">
                <div class="col-md-6 about-section-left">
                    <div class="about-section-left-baslik">
                        <h3>I'm Kubra, and this is My Home</h3>
                    </div>
                    <article class="about-section-left-text">
                        <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                        <p class="response-display">This is a great space to write a long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.</p>
                    </article>
                    <div class="about-section-left-btn">
                        <button type="button">About Me</button>
                    </div>
                </div>
                <div class="col-md-6 about-section-right">
                    <div class="about-section-right-img">
                        <img src="{% static '/images/child.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}