{% extends "index.html" %}
{% load static %}

    {% block content %}
    <main class="container blogDetay">
        <div class="row blogDetay-row">
            <section class="col-12 blogDetay-col">
                <header class="blogDetay-header">
                    <div class="header-title">
                        <h2>{{blogDetay.isim}}</h2>
                    </div>
                </header>
                <article class="blogDetay-content">
                    <div class="row header-subTitle">
                        <div class="col-auto subTitle-kategori">
                            <span><i class="fa-solid fa-tags"></i></span>
                            <h6>Genel</h6>
                        </div>
                        <div class="col-auto subTitle-tarih">
                            <ul class="subTitle-tarihList">
                                <li><i class="bi bi-calendar3"></i></li>
                                <li>{{blogDetay.tarih}}</li>
                                <li><i class="bi bi-clock"></i></li>
                                <li>{{blogDetay.saat}}</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="blogDetay-contentBody">
                    <div class="contentBody-image">
                        <img src="{{blogDetay.resim.url}}" alt="">
                    </div>
                    <div class="contentBody-text mt-4">
                        <div class="contentBody-text-paragraph">
                            <p>{{blogDetay.aciklama}}</p>
                        </div>
                        <div class="contentBody-text-button">
                            <button>
                                <a href="{% url 'blog' %}">Tüm Bloglar</a>
                            </button>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>
    <!-- SECTION 5 -->
    {% include "includes/_instaGonderi.html" %}

    {% endblock content %}