{% extends "index.html" %}
{% load static %}

    {% block content %}
    <!-- CONTACT -->
    <div class="container x">
        <div class="row">
            <div class="col-12">
                <div class="contact-baslik text-center">
                    <h1>Contact Me</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-10">
                <div class="contact-alt-baslik text-center">
                    <h3>Have Comments, Questions or <br> Business Proposals?</h3>
                    <h6>Contact Me</h6>
                </div>
                <div class="row contact-form-row">
                    <div class="col-lg-6 contact-col">
                        <form action="" class="contact-form">
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" class="contact-form-input">
                        </form>
                    </div>
                    <div class="col-lg-6 contact-col">
                        <form action="" class="contact-form">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" class="contact-form-input">
                        </form>
                    </div>
                </div>
                <div class="row contact-form-row">
                    <div class="col-lg-6 contact-col">
                        <form action="" class="contact-form">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="contact-form-input">
                        </form>
                    </div>
                    <div class="col-lg-6 contact-col">
                        <form action="" class="contact-form">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" class="contact-form-input">
                        </form>
                    </div>
                </div>
                <div class="row contact-form-row">
                    <div class="col-12 contact-col">
                        <form action="" class="contact-form">
                            <label for="message">Leave me a message...</label>
                            <textarea name="" id="message" class="contact-form-textarea" cols="30" rows="5" maxlength="500"></textarea>
                        </form>
                        <div class="contact-form-btn text-end">
                            <button type="button">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- SECTION 5 -->
    {% include "includes/_instaGonderi.html" %}
    {% endblock content %}
