{% extends "index.html" %}
{% load static %}

    {% block content %}

    <style>
        .forgetPass-section{
            background: 
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
                url({% static 'images/Logo/Adsız tasarım.png' %});
            background-position: top;
            background-size: cover;
            border-radius: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem;
        }
    </style>
    
    <!-- ŞİFRE UNUTMA -->
    <div class="container forgetPass">
        <div class="row forgetPass-row">
            <div class="col-md-12 col-lg-9 forgetPass-section">
                <div class="forgetPass-section-title text-center" id="yanRegister">
                    <div class="forgetPass-section-icon">
                        <i class="fa-solid fa-lock fa-sm"></i>
                    </div>
                    <div class="forgetPass-section-text">
                        <h1>Parola Sıfırla</h1>
                        <h6>Hesabınızla İlişkili E-Posta Adresini Girin;Size Şifrenizi Öğrenmeniz İçin Bir Mail Göndereceğiz.</h6>
                    </div>
                    <div class="forgetPass-form">
                        <form class="forgetPass-formSection" method="POST">
                            <input type="email" id="yanEmail" class="forgetPass-formInput" name="kullanıcı" placeholder="">
                            <label for="yanEmail" class="forgetPass-formLabel">Email Adresinizi Yazınız...</label>
                            <button type="submit" class="forgetPass-Button">GÖNDER</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const input=document.querySelector(".forgetPass-formInput")
        const button=document.querySelector(".forgetPass-Button")

        input.addEventListener("focus",function(){
            button.style.opacity=1
        })
        input.addEventListener("blur", function () {
            button.style.opacity = 0.3; // Eski haline dönen değer
        });
    </script>

    {% endblock content %}
