{% extends "index.html" %}
{% load static %}

{% block content %}

    {% include "includes/_kategori.html" %}
    
    <main class="urunler mb-5">
        <section class="container">
            <div class="row urunler-row">
                {% for i in uruns %}
                <article class="col-md-6 col-lg-3 urun-card-width">
                    <div class="urun-card">
                        <div class="urun-card-image">
                            <img src="{{i.resim.url}}" alt="">
                        </div>
                        <div class="urun-card-aciklama text-center mt-4">
                            <h5 class="urun-name">{{i.isim|title}}</h5>
                            <h4 class="urun-fiyat">{{i.fiyat}} TL</h4>
                        </div>
                        <div class="urun-button">
                            <ul class="urun-button-list">
                                <li class="urun-incele">
                                    <a href="{% url 'urunDetay' i.slug %}">İncele</a>
                                </li>
                                <li class="urun-sepet">
                                    <a class="urun-ekle" href="#">Sepete Ekle</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>
    </main>
    {% endblock content %}