{% extends "index.html" %}
{% load static %}

    {% block content %}
    <style>
        .sign-inLeft{
             background: 
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
                url({% static '/images/nonGluten2.jpg' %});
            background-position: center;
            background-size: cover;
            border-radius: 30px 0 0 30px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem;
        }
    </style>

    <!-- LOGIN -->
    <div class="container login">
        <div class="row login-row">
            <div class="col-lg-6 sign-inLeft">
            
                <div class="signIn-welcome text-center align-self-end" id="yanMenu">
                    <h1>Hello,Friend!</h1>
                    <h6>Enter your personal details and start journey with us</h6>
                    <a href="{% url 'register' %}">
                        <button class="register-Button">SIGN UP</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 sign-inRight">
                <div class="signIn-login text-center" id="yanRegister">
                    <h1>Sign in</h1>
                    <div class="signIn-login-icon">
                        <ul class="signIn-login-iconList">
                            <li>
                                <a href=""><i class="signIn-facebook fa-brands fa-facebook-f" style="color: black;"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="signIn-google fa-brands fa-google-plus-g" style="color: #000000;"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="signIn-linkedin fa-brands fa-linkedin-in" style="color: #000000;"></i></a>
                            </li>
                        </ul>
                    </div>
                    <h6 class="signIn-registerText">or use your account</h6>
                    <div class="signIn-form">
                        <form class="signIn-formInput" method="POST">
                            {% csrf_token %}
                            <label for="yanEmail">Kullanıcı Adı</label>
                            <input type="text" id="yanEmail" name="kullanıcı">

                            <label for="yanPassword">Password</label>
                            <div class="seePassword-signIn">
                                <input class="seePassword-signIn-input" type="password" id="yanPassword" name="password">
                                <i class="bi bi-eye-slash seePassword-signIn-icon"></i>
                            </div>
                            
                            <div class="sifreUnut">
                                <h5>Forgot your
                                    <a href="{% url 'userForget' %}">password</a>?
                                </h5>
                            </div>
                            <button type="submit" class="sıgnIn-Button">SIGN IN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
