{% extends "index.html" %}
{% load static %}

    {% block content %}
    <style>
        .sign-upLeft{
            background: 
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
                url({% static '/images/nonGluten2.jpg' %});
            background-position: center;
            background-size: cover;
            border-radius: 0px 30px 30px 0px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            display: flex;
            justify-content: center;
            align-items: end;
        }
    </style>

    <!-- REGİSTER -->
    <div class="container register">
        <div class="row register-row">
            <div class="col-lg-6 order-1 order-md-2 order-lg-1 sign-upRight">
                <div class="sıgnUp-register text-center">
                    <h1>Create Account</h1>
                    <div class="sıgnUp-register-icon">
                        <ul class="sıgnUp-register-iconList">
                            <li>
                                <a href="#"><i class="signUp-facebook fa-brands fa-facebook-f" style="color: black;"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="signUp-google fa-brands fa-google-plus-g" style="color: #000000;"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="signUp-linkedin fa-brands fa-linkedin-in" style="color: #000000;"></i></a>
                            </li>
                        </ul>
                    </div>
                    <h6 class="sıgnUp-registerText">or use your email for registration</h6>
                    <div class="form mt-4">
                        <form class="sign-Up-formInput" method="POST">
                            {% csrf_token %}
                            {{form}}

                            {% comment %} <label for="name">First Name</label>
                            <input type="text" id="name">
                            
                            <label for="yanEmail">Email</label>
                            <input type="email" id="yanEmail">

                            <label for="yanPassword">Password</label>
                            <div class="seePassword-signUp">
                                <input class="seePassword-signUp-input" type="password" id="yanPassword" name="password">
                                <i class="bi bi-eye-slash seePassword-signUp-icon"></i>
                            </div> {% endcomment %}
                            
                            <button type="submit" class="sıgnUp-registerButton">SIGN UP</button>
                        </form>
                        <div class="activeHesap">
                            <a href="login.html">
                                <h5>Zaten Bir Hesabın Var mı?</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-md-1 order-lg-2 sign-upLeft">
                <div class="sıgnUp-welcome text-center">
                    <h1>Welcome Back!</h1>
                    <h6>To keep connected with us please login with your personal info</h6>
                    <a href="login.html">
                        <button class="login-Button">SIGN IN</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
